@(event: Event)

@import helper._
@import java.util.Date
@import java.text.SimpleDateFormat

@main("TARDIS >> Patient: " + event.patient.person.name.getOrElse("anonymous") + " - Event: #" + event.id) {

<h1>Patient: @event.patient.person.name.getOrElse("anonymous") - Event #@event.id</h1>

<table>
    <tr style="border: black solid 1px;">
        <th style="border: black solid 1px;">Event name</th>
        <th style="border: black solid 1px;">Event time</th>
        <th style="border: black solid 1px;">Delete</th>
    </tr>
    <tr style="border: black solid 1px;">
        <td style="border: black solid 1px;">@event.eventname</td>
        <td style="border: black solid 1px;">@event.eventtimeAsString</td>
        <td style="border: black solid 1px;">
            @form(routes.Application.deleteEvent(event.patient.id, event.id)) {
                <input type="submit" value="Delete">
            }
        </td>
    </tr>
</table>

<p style="margin-top:2ex;"><a href="@routes.Application.events(event.patient.person.id)">Click to go back to all events.</a></p>

<p style="margin-top:2ex;"><a href="@routes.Application.selectPatient(event.patient.person.id)">Click to go back to all patient details.</a></p>

}