@(users: List[User], userForm: Form[Tuple3[String, String, String]])

@import helper._

@main("Listing Users") {

<h1>@users.size user(s)</h1>

<table>
    @users.map { user =>
    <tr style="border: black solid 1px;">
        <td style="border: black solid 1px;">@user.username</td>
        <td style="border: black solid 1px;">@user.password</td>
        <td style="border: black solid 1px;">@user.email</td>
        <td style="border: black solid 1px;"><a href="@routes.Application.selectUser(user.id)">View</a></td>
        <td style="border: black solid 1px;">
            @form(routes.Application.deleteUser(user.id)) {
                <input type="submit" value="Delete">
            }
        </td>
    </tr>
    }
</table>

<h2>Add a new user</h2>

@form(routes.Application.newUser) {

@inputText(userForm("username"))
@inputText(userForm("password"))
@inputText(userForm("email"))

<input type="submit" value="Create">

}

}