@(consentForm: Form[Tuple10[String, String, String, String, Boolean, Boolean, Boolean, Boolean, Boolean, Option[Double]]], message: String)

@import helper._

@main("TARDIS >> Participant Information Sheet") {

@if((message != null) && (message.length >= 1)) {
<h4 style="color:red; border: solid 1px red; margin-bottom: 2ex;">@message</h4>
}

<h3>Please review the information below:</h3>

<iframe src="@routes.Assets.at("static_html/text_infosheet.html")" width="500px" height="300px"></iframe>

<h4 style="margin-top:2ex;">Please confirm that you are happy to participate:</h4>
<div style="width: 500px;">

<script language="javascript" type="text/javascript">
    function checkConsent() {
        var result = document.consentForm.consent1.checked && document.consentForm.consent2.checked && document.consentForm.consent3.checked && document.consentForm.consent4.checked && document.consentForm.consent5.checked
        if (!result) alert("Before you can agree and submit, you must indicate your full consent by checking all of the consent boxes.")
        return result
    }
</script>

@form(routes.Application.consent, 'name -> "consentForm", 'onsubmit -> "return checkConsent()") {
<div style="color:red;">
<table border="0"cellpadding="15px">
    <tr>
        <td>
            <dl>
                <dt><label/></dt>
                <dd>I confirm that I have read and understood the above information sheet dated 27/11/2012 (Version 2) for the above study.  I have had the opportunity to consider the information, ask questions and have had these answered satisfactorily.</dd>
                <dd class="info"></dd>
            </dl>
        </td>
        <td>@checkbox(consentForm("consent1"), '_label -> null, '_help -> "")</td>
    </tr>
    <tr>
        <td>
            <dl>
                <dt><label/></dt>
                <dd>I understand that participation is voluntary and that I am free to withdraw at any time without giving any reason, without my medical care, or that of my child being affected.</dd>
                <dd class="info"></dd>
            </dl>
        </td>
        <td>@checkbox(consentForm("consent2"), '_label -> null, '_help -> "")</td>
    </tr>
    <tr>
        <td>
            <dl>
                <dt><label/></dt>
                <dd>I understand that relevant sections of my child's medical notes and data collected during the study may be looked at by the research team, clinicians at Great Ormond Street Hospital and individuals authorized by the sponsor of the trial (University College London).  I give permission for these individuals to have access to my records.</dd>
                <dd class="info"></dd>
            </dl>
        </td>
        <td>@checkbox(consentForm("consent3"), '_label -> null, '_help -> "")</td>
    </tr>
    <tr>
        <td>
            <dl>
                <dt><label/></dt>
                <dd>I have been informed that the confidentiality of the information I provide will be safeguarded in keeping with the sponsor's and NHS data protection guidelines.</dd>
                <dd class="info"></dd>
            </dl>
        </td>
        <td>@checkbox(consentForm("consent4"), '_label -> null, '_help -> "")</td>
    </tr>
    <tr>
        <td>
            <dl>
                <dt><label/></dt>
                <dd>I agree to take part in the above study.</dd>
                <dd class="info"></dd>
            </dl>
        </td>
        <td>@checkbox(consentForm("consent5"), '_label -> null, '_help -> "")</td>
    </tr>
</table>
</div>
@inputText(consentForm("username"), '_help -> "Given and family names of the patient being registered.")
@inputText(consentForm("email"), '_help -> "This e-mail address will be used when logging in.")
@inputPassword(consentForm("password"), '_help -> "Please type a password which also will be used when logging in.")
@inputPassword(consentForm("password2"), '_help -> "Please type your password a second time.")
<h5>Type the patient's age, e.g.:</h5>
<ul>
    <li><h5>'2'    for 2 years</h5></li>
    <li><h5>'2.25' for 2 years 3 months</h5></li>
    <li><h5>'2.5'  for 2 years 6 months</h5></li>
    <li><h5>'2.75' for 2 years 9 months</h5></li>
</ul>
@inputText(consentForm("age"), args = 'size -> 32, 'placeholder -> "type the patient's age")
<dl>
    <dt>
        <input type="submit" value="Agree and submit">
    </dt>
    <dd>
        <p/>
    </dd>
    <dt>
    <p><a href="@routes.Application.index">Click here to cancel and go back to the main page.</a></p>
    </dt>
</dl>

}

</div>

}