@(loginForm: Form[Tuple2[String, String]], message: String)

@import helper._

@main("TARDIS >> Login") {

@if((message != null) && (message.length >= 1)) {
<h4 style="color:red; border: solid 1px red; margin-bottom: 2ex;">@message</h4>
}

<h1>Please Login</h1>

@form(routes.Application.checkLogin) {

@inputText(loginForm("email"), args = 'size -> 32, 'placeholder -> "type your email address")
@inputPassword(loginForm("password"), args = 'size -> 32, 'placeholder -> "type your password")
<dl>
    <dt>
        <input type="submit" value="Login">
    </dt>
    <dd>
        <p/>
    </dd>
    <dt>
        <p><a href="@routes.Application.index">Click here to cancel and go back to the main page.</a></p>
    </dt>
</dl>

}

}