@(loginForm: Form[Tuple3[String, String, Option[Double]]], message: String)

@import helper._

@main("TARDIS >> Login") {

@if((message != null) && (message.length >= 1)) {
<h4 style="color:red; border: solid 1px red; margin-bottom: 2ex;">@message</h4>
}

<h1>Please Login</h1>

@form(routes.Application.checkLogin) {

@inputText(loginForm("email"), args = 'size -> 32, 'placeholder -> "type your email address")
@inputPassword(loginForm("password"), args = 'size -> 32, 'placeholder -> "type your password")
<h5>For new registrations, type the patient's age, e.g.:</h5>
<ul>
    <li><h5>'2'    for 2 years</h5></li>
    <li><h5>'2.25' for 2 years 3 months</h5></li>
    <li><h5>'2.5'  for 2 years 6 months</h5></li>
    <li><h5>'2.75' for 2 years 9 months</h5></li>
</ul>
<h5>If not a new registration, leave the age blank.</h5>
@inputText(loginForm("ageatregistration"), args = 'size -> 32, 'placeholder -> "type the patient's age")
<dl>
    <dt>
        <input type="submit" value="Login">
    </dt>
    <dd>
        <p/>
    </dd>
    <dt>
        <p><a href="@routes.Application.index">Click here to cancel and go back to the main page.</a></p>
    </dt>
</dl>

}

}