@(patients: List[Patient], patientForm: Form[Tuple3[String, String, String]])

@import helper._

@main("TARDIS >> Patients") {

<h1>@patients.size patient(s)</h1>

<table>
    <tr style="border: black solid 1px;">
        <th style="border: black solid 1px;">User name</th>
        <th style="border: black solid 1px;">Password</th>
        <th style="border: black solid 1px;">Email</th>
        <th style="border: black solid 1px;"># symptoms</th>
        <th style="border: black solid 1px;"># events</th>
        <th style="border: black solid 1px;">View</th>
        <th style="border: black solid 1px;">Delete</th>
    </tr>
    @patients.map { patient =>
    <tr style="border: black solid 1px;">
        <td style="border: black solid 1px;">@patient.person.name</td>
        <td style="border: black solid 1px;">@patient.person.password</td>
        <td style="border: black solid 1px;">@patient.person.email</td>
        <td style="border: black solid 1px; text-align:right;">@Symptom.all(patient.id).size</td>
        <td style="border: black solid 1px; text-align:right;">@Event.all(patient.id).size</td>
        <td style="border: black solid 1px;"><a href="@routes.Application.selectPatient(patient.person.id)">View</a></td>
        <td style="border: black solid 1px;">
            @form(routes.Application.deletePatient(patient.person.id)) {
                <input type="submit" value="Delete">
            }
        </td>
    </tr>
    }
</table>

<p style="margin-top:2ex;"><a href="@routes.Application.persons">Click to go back to 'all users'.</a></p>

<h2>Add a new patient</h2>

@form(routes.Application.newPatient) {

@inputText(patientForm("username"))
@inputText(patientForm("password"))
@inputText(patientForm("email"))

<input type="submit" value="Create">

}

<p style="margin-top:2ex;"><a href="@routes.Application.persons">Click to go back to 'all users'.</a></p>

}