@(patient: Patient, symptoms: List[Symptom], events: List[Event], symptomForm: Form[Tuple2[String, org.joda.time.DateTime]], eventForm: Form[Tuple2[String, java.util.Date]])

@import helper._
@import java.util.Date
@import org.joda.time.DateTime

@main("TARDIS >> Patient: " + patient.person.name.getOrElse("anonymous")) {

<h1>Patient: @patient.person.name.getOrElse("anonymous")</h1>

<table>
    <tr style="border: black solid 1px;">
        <th style="border: black solid 1px;">Name</th>
        <th style="border: black solid 1px;">Email</th>
        <th style="border: black solid 1px;">Age at registration</th>
        <th style="border: black solid 1px;">Date of registration</th>
    </tr>
    <tr style="border: black solid 1px;">
        <td style="border: black solid 1px;">@patient.person.name.getOrElse("anonymous")</td>
        <td style="border: black solid 1px;">@patient.person.email</td>
        <td style="border: black solid 1px;">@patient.ageatregistrationAsString</td>
        <td style="border: black solid 1px;">@patient.person.dateofregistrationAsString</td>
    </tr>
</table>

<p style="margin-top:2ex;"><a href="@routes.Application.patients">Click to go back to 'all patients'.</a></p>

<h2 style="margin-top:2ex;">@symptoms.size symptom(s)</h2>
<table>
    <tr style="border: black solid 1px;">
        <th style="border: black solid 1px;">Which symptom</th>
        <th style="border: black solid 1px;">When symptom</th>
        <th style="border: black solid 1px;">View</th>
        <th style="border: black solid 1px;">Delete</th>
    </tr>
    @symptoms.map { symptom =>
    <tr style="border: black solid 1px;">
        <td style="border: black solid 1px;">@symptom.whichsymptom</td>
        <td style="border: black solid 1px;">@symptom.whensymptomAsString</td>
        <td style="border: black solid 1px;"><a href="@routes.Application.selectSymptom(patient.person.id, symptom.id)">View</a></td>
        <td style="border: black solid 1px;">
            @form(routes.Application.deleteSymptom(patient.id, symptom.id)) {
            <input type="submit" value="Delete">
            }
        </td>
    </tr>
    }
</table>

<h2 style="margin-top:2ex;">Add a new symptom</h2>

@form(routes.Application.newSymptom(patient.person.id)) {

@inputText(symptomForm("whichsymptom"))
@inputDate(symptomForm("whensymptom"))
<!-- TODO: add time input (to nearest quarter hour) -->

<!-- TODO: [ABC] add some Javascript to clear value when user first types? -->
<p><input type="submit" value="Enter Symptom" style="width:200px; height:40px; color:white; background:blue;"></p>

}

<p style="margin-top:2ex;"><a href="@routes.Application.patients">Click to go back to 'all patients'.</a></p>

<h2 style="margin-top:2ex;">@events.size event(s)</h2>
<table>
    <tr style="border: black solid 1px;">
        <th style="border: black solid 1px;">Event name</th>
        <th style="border: black solid 1px;">Event time</th>
        <th style="border: black solid 1px;">View</th>
        <th style="border: black solid 1px;">Delete</th>
    </tr>
    @events.map { event =>
    <tr style="border: black solid 1px;">
        <td style="border: black solid 1px;">@event.eventname</td>
        <td style="border: black solid 1px;">@event.eventtimeAsString</td>
        <td style="border: black solid 1px;"><a href="@routes.Application.selectEvent(patient.person.id, event.id)">View</a></td>
        <td style="border: black solid 1px;">
            @form(routes.Application.deleteEvent(patient.id, event.id)) {
            <input type="submit" value="Delete">
            }
        </td>
    </tr>
    }
</table>

<h2 style="margin-top:2ex;">Add a new Event</h2>

@form(routes.Application.newEvent(patient.person.id)) {

@inputText(eventForm("eventname"))
@inputDate(eventForm("eventtime"))

<!-- TODO: [ABC] add some Javascript to clear value when user first types? -->
<p><input type="submit" value="Enter Event" style="width:200px; height:40px; color:white; background:#32cd32;  "></p>

}

<!-- TODO: [ABC] work out what these reports should be like -->
<h2 style="margin-top:2ex;">View your reports</h2>
<p><input type="submit" value="View Reports" style="width:200px; height:40px; color:white; background:orange;  "></p>

<p style="margin-top:2ex;"><a href="@routes.Application.patients">Click to go back to 'all patients'.</a></p>

}