@(patients: List[Patient], patientForm: Form[Tuple4[String, String, String, Double]])

@import helper._

@main("TARDIS >> Patients") {

<h1>@patients.size patient(s)</h1>

<table>
    <tr style="border: black solid 1px;">
        <th style="border: black solid 1px;">Name</th>
        <th style="border: black solid 1px;">Email</th>
        <th style="border: black solid 1px;">Age at registration</th>
        <th style="border: black solid 1px;">Date of registration</th>
        <th style="border: black solid 1px;"># symptoms</th>
        <th style="border: black solid 1px;"># events</th>
        <th style="border: black solid 1px;">View</th>
        <th style="border: black solid 1px;">Delete</th>
    </tr>
    @patients.map { patient =>
    <tr style="border: black solid 1px;">
        <td style="border: black solid 1px;">@patient.person.name.getOrElse("anonymous")</td>
        <td style="border: black solid 1px;">@patient.person.email</td>
        <td style="border: black solid 1px;">@patient.ageatregistrationAsString</td>
        <td style="border: black solid 1px;">@patient.person.dateofregistrationAsString</td>
        <td style="border: black solid 1px; text-align:right;">@Symptom.all(patient.id).size</td>
        <td style="border: black solid 1px; text-align:right;">@Event.all(patient.id).size</td>
        <td style="border: black solid 1px;"><a href="@routes.Application.selectPatient(patient.person.id)">View</a></td>
        <td style="border: black solid 1px;">
            @form(routes.Application.deletePatient(patient.person.id)) {
                <input type="submit" value="Delete">
            }
        </td>
    </tr>
    }
</table>

<p style="margin-top:2ex;"><a href="@routes.Application.persons">Click to go back to 'all users'.</a></p>

<h2 style="margin-top:2ex;">Add a new patient</h2>

@form(routes.Application.newPatient) {

@inputText(patientForm("username"))
@inputText(patientForm("password"))
@inputText(patientForm("email"))
<h5>Type the patient's age, e.g.:</h5>
<ul>
    <li><h5>'2'    for 2 years</h5></li>
    <li><h5>'2.25' for 2 years 3 months</h5></li>
    <li><h5>'2.5'  for 2 years 6 months</h5></li>
    <li><h5>'2.75' for 2 years 9 months</h5></li>
</ul>
@inputText(patientForm("ageatregistration"))

<input type="submit" value="Create">

}

<p style="margin-top:2ex;"><a href="@routes.Application.persons">Click to go back to 'all users'.</a></p>

}