@(patient: Patient, symptoms: List[Symptom], events: List[Event], symptomForm: Form[Tuple2[String, String]], eventForm: Form[Tuple2[String, String]])

@import helper._

@main("TARDIS >> User: #" + patient.id) {

<h1>User #@patient.id</h1>

<table>
    <tr style="border: black solid 1px;">
        <th style="border: black solid 1px;">User name</th>
        <th style="border: black solid 1px;">Password</th>
        <th style="border: black solid 1px;">Email</th>
        <th style="border: black solid 1px;">Delete</th>
    </tr>
    <tr style="border: black solid 1px;">
        <td style="border: black solid 1px;">@patient.person.name</td>
        <td style="border: black solid 1px;">@patient.person.password</td>
        <td style="border: black solid 1px;">@patient.person.email</td>
        <td style="border: black solid 1px;">
            @form(routes.Application.deletePatient(patient.id)) {
            <input type="submit" value="Delete">
            }
        </td>
    </tr>
</table>

<p><a href="@routes.Application.patients">Click to go back to 'all users'.</a></p>

<h2>@symptoms.size symptom(s)</h2>
<table>
    <tr style="border: black solid 1px;">
        <th style="border: black solid 1px;">Which symptom</th>
        <th style="border: black solid 1px;">When symptom</th>
        <th style="border: black solid 1px;">View</th>
        <th style="border: black solid 1px;">Delete</th>
    </tr>
    @symptoms.map { symptom =>
    <tr style="border: black solid 1px;">
        <td style="border: black solid 1px;">@symptom.whichsymptom</td>
        <td style="border: black solid 1px;">@symptom.whensymptom</td>
        <td style="border: black solid 1px;"><a href="@routes.Application.selectSymptom(patient.id, symptom.id)">View</a></td>
        <td style="border: black solid 1px;">
            @form(routes.Application.deleteSymptom(patient.id, symptom.id)) {
            <input type="submit" value="Delete">
            }
        </td>
    </tr>
    }
</table>

<h2>Add a new symptom</h2>

@form(routes.Application.newSymptom(patient.id)) {

@inputText(symptomForm("whichsymptom"))
@inputText(symptomForm("whensymptom"))

<!-- TODO: [ABC] add some Javascript to clear value when user first types? -->
<p><input type="submit" value="Enter Symptom" style="width:200px; height:40px; color:white; background:blue;"></p>

}

<p><a href="@routes.Application.patients">Click to go back to 'all users'.</a></p>

<h2>@events.size event(s)</h2>
<table>
    <tr style="border: black solid 1px;">
        <th style="border: black solid 1px;">Event name</th>
        <th style="border: black solid 1px;">Event time</th>
        <th style="border: black solid 1px;">View</th>
        <th style="border: black solid 1px;">Delete</th>
    </tr>
    @events.map { event =>
    <tr style="border: black solid 1px;">
        <td style="border: black solid 1px;">@event.eventname</td>
        <td style="border: black solid 1px;">@event.eventtime</td>
        <td style="border: black solid 1px;"><a href="@routes.Application.selectEvent(patient.id, event.id)">View</a></td>
        <td style="border: black solid 1px;">
            @form(routes.Application.deleteEvent(patient.id, event.id)) {
            <input type="submit" value="Delete">
            }
        </td>
    </tr>
    }
</table>

<h2>Add a new Event</h2>

@form(routes.Application.newEvent(patient.id)) {

@inputText(eventForm("eventname"))
@inputText(eventForm("eventtime"))

<!-- TODO: [ABC] add some Javascript to clear value when user first types? -->
<p><input type="submit" value="Enter Event" style="width:200px; height:40px; color:white; background:#32cd32;  "></p>

}

<!-- TODO: [ABC] work out what these reports should be like -->
<h2>View your reports</h2>
<p><input type="submit" value="View Reports" style="width:200px; height:40px; color:white; background:orange;  "></p>

<p><a href="@routes.Application.patients">Click to go back to 'all users'.</a></p>

}