@(persons: List[Person], personForm: Form[Tuple3[String, String, String]])

@import helper._

@main("TARDIS >> Users") {

<h1>List of Users (@persons.size in total)</h1>

<table>
    <tr style="border: black solid 1px;">
        <th style="border: black solid 1px;">Name</th>
        <th style="border: black solid 1px;">Email</th>
        <th style="border: black solid 1px;">Patient?</th>
        <th style="border: black solid 1px;">Doctor?</th>
        <th style="border: black solid 1px;">Admin?</th>
        <th style="border: black solid 1px;">View</th>
        <th style="border: black solid 1px;">Delete</th>
    </tr>
    @persons.map { person =>
    <tr style="border: black solid 1px;">
        <td style="border: black solid 1px;">@person.name.getOrElse("anonymous")</td>
        <td style="border: black solid 1px;">@person.email</td>
        @if(Patient.select(person.id).isDefined) {
            <td style="border: black solid 1px; text-align:right;"><a href="@routes.Application.selectPatient(person.id)">true</a></td>
        } else {
            <td style="border: black solid 1px; text-align:right;">false</td>
        }
        <td style="border: black solid 1px; text-align:right;">@Doctor.select(person.id).isDefined</td>
        <td style="border: black solid 1px; text-align:right;">@Administrator.select(person.id).isDefined</td>
        <td style="border: black solid 1px;"><a href="@routes.Application.selectPerson(person.id)">View</a></td>
        <td style="border: black solid 1px;">
            @form(routes.Application.deletePerson(person.id)) {
            <input type="submit" value="Delete">
            }
        </td>
    </tr>
    }
</table>

<!--
<h2>Add a new user</h2>

(at)form(routes.Application.newPerson) {

(at)inputText(personForm("username"))
(at)inputText(personForm("email"))
(at)inputText(personForm("password"))

<input type="submit" value="Create">

}
-->

<p style="margin-top:2ex;"><a href="@routes.Application.persons">Click to go to 'all persons'.</a></p>

}