@(person: Person)

@import helper._

@main("TARDIS >> User: " + person.name.getOrElse("anonymous")) {

<h1>User: @person.name.getOrElse("anonymous")</h1>

<table>
    <tr style="border: black solid 1px;">
        <th style="border: black solid 1px;">Name</th>
        <th style="border: black solid 1px;">Email</th>
        <th style="border: black solid 1px;">Patient?</th>
        <th style="border: black solid 1px;">Doctor?</th>
        <th style="border: black solid 1px;">Admin?</th>
    </tr>
    <tr style="border: black solid 1px;">
        <td style="border: black solid 1px;">@person.name.getOrElse("anonymous")</td>
        <td style="border: black solid 1px;">@person.email</td>
        @if(Patient.select(person.id).isDefined) {
        <td style="border: black solid 1px; text-align:right;"><a href="@routes.Application.selectPatient(person.id)">true</a></td>
        } else {
        <td style="border: black solid 1px; text-align:right;">false</td>
        }
        <td style="border: black solid 1px; text-align:right;">@Doctor.select(person.id).isDefined</td>
        <td style="border: black solid 1px; text-align:right;">@Administrator.select(person.id).isDefined</td>
    </tr>
</table>

<p style="margin-top:2ex;"><a href="@routes.Application.persons">Click to go back to 'all users'.</a></p>

}