@(symptom: Symptom)

@import helper._
@import org.joda.time.DateTime

@main("TARDIS >> Patient: " + symptom.patient.person.name.getOrElse("anonymous") + " - Symptom: #" + symptom.id) {

<h3>Patient: @symptom.patient.person.name.getOrElse("anonymous") - Symptom #@symptom.id</h3>

<table>
    <tr style="border: black solid 1px;">
        <th style="border: black solid 1px;">Which symptom</th>
        <th style="border: black solid 1px;">When symptom</th>
        <th style="border: black solid 1px;">Delete</th>
    </tr>
    <tr style="border: black solid 1px;">
        <td style="border: black solid 1px;">@symptom.whichsymptom</td>
        <td style="border: black solid 1px;">@symptom.whensymptomAsString</td>
        <td style="border: black solid 1px;">
            @form(routes.Application.deleteSymptom(symptom.patient.id, symptom.id)) {
                <input type="submit" value="Delete">
            }
        </td>
    </tr>
</table>

<p style="margin-top:2ex;"><a href="@routes.Application.symptoms(symptom.patient.person.id)">Click to go back to all symptoms.</a></p>

<p style="margin-top:2ex;"><a href="@routes.Application.selectPatient(symptom.patient.person.id)">Click to go back to all patient details.</a></p>

}