<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>

<p><b>Participant Information Sheet 27/11/2012 (Version 2)</b></p>
<p><b>Date: 27/11/2012</b></p>
<p><b>Version 2</b></p>
<br>
<p><b>Study title: </b>TARDIS: Using smartphones to track activity in relation to disease<b></b></p>

<p><b>Study Research and Development registration number: </b>11EB23</p>

<div style="width:500px">
    <p>We would like to invite you to take part in our research study. Before you decide we would like you to understand why the research is being done and what it would involve for you. The researcher will go through the information sheet with you and answer any questions you have. </p>

    <p>We‘d suggest this should take about 10 minutes. Ask us if there is anything that is not clear. Talk to others about the study if you wish. </p>

    <p><b>1. What is the purpose of the study?</b></p>

    <p>When a child is reviewed in clinic, parents and caregivers are often asked to remember and relate the symptoms that have been experienced in the past few weeks. Doctors will then take decisions based on these recollections. </p>

    <p>Sometimes, when a more detailed symptoms profile is needed, you may be asked to complete a paper questionnaire. We have developed a similar questionnaire that can be used on a smartphone. We would like to find out whether it is preferable to standard paper questionnaires. </p>

    <p>We will ask parents and caregivers to try the paper and the smartphone questionnaire. We will then ask them to rate the questionnaire system they have used. We will compare the results and this will tell us which questionnaire system is preferred by parents and caregivers. </p>

    <p><b>2. Why have I been invited?</b></p>

    <p>We have focused on a single condition i.e. gastro-oesophageal reflux. This condition is suitable for this study as it is quite common and children often will experience daily symptoms. We have approached you because your Consultant has told us that your child has symptoms of this condition. </p>

    <p><b>3. Do I have to take part?</b></p>

    <p>It is up to you to decide to join the study. We will describe the study and go through this information sheet.</p>

    <p>If you agree to take part, we will then ask you to sign a consent form. </p>

    <p>You are free to withdraw at any time without giving a reason. You are also free to decide not to take part. This would not affect the standard of care you receive. </p>

    <p><b>4. What will happen to me if I take part?</b></p>

    <p>In this study, we would like to assess which questionnaire system is best. To find out, participants will try each questionnaire in turn. You will be given a paper questionnaire. You will also download a smartphone questionnaire if you have an iPhone. We will ask you to use each questionnaire for a week. We will tell you which to use first.</p>

    <p>You will use the first questionnaire for a week. You will then have a break. During this break, we will send you an email asking you to rate the questionnaire system you have completed. You can then use the second questionnaire for a week. Following this, we will send you another email asking you to rate the second questionnaire. </p>

    <p>For participants who do not have an iPhone smartphone, we will ask you to complete the paper questionnaire only. This information will help us validate the answers from the other groups. </p>

    <p>When you have completed the questionnaires, we will ask you to return the paper questionnaire to use by post. The data from the smartphone questionnaire will electronically load onto our database automatically. When we have received your smartphone and postal data, you will have come to the end of your participation in the study. We expect your participation in the study to last 14 to 20 days.</p>

    <p><b>5. Expenses and payments </b></p>

    <p>We will ask you to return the paper questionnaire to the researchers. We will give you an addressed and stamped envelope to ensure that you can return the questionnaire at no extra cost. </p>

    <p><b>6. What are the possible disadvantages and risks of taking part? </b></p>

    <p>We are testing the “goodness” of tools for collecting information on symptoms. There are no interventions involved in this pilot study. There are no treatment risks or side effects to mention. However, completing the questionnaires will take a few minutes every day. There may also be some inconvenience involved in the postal return of the paper questionnaire to the researcher. </p>

    <p><b>7. What are the possible benefits of taking part? </b></p>

    <p>The information we get from this study will help improve the way we collect information about symptoms. It will help us in the development of new data collection tools and will benefit other parents, caregivers and children. </p>

    <p>There are no direct benefits for you or for your child. Participation will not affect the treatment of your child. However, completing the two questionnaires will generate two weeks of detailed information on your child’s symptoms. This profile of your child’s symptoms will be included in your child’s clinical record and may be of interest to your doctor. </p>

    <p><b>8. What happens when the research study stops? </b></p>

    <p>When the study ends, we will analyze the information you and other participants have provided and draw conclusions on which questionnaire system parents and caregivers prefer. We will put the results on the study website (<a href="http://www.ucl.ac.uk/tardis">www.ucl.ac.uk/tardis</a>). We will also send you an email to thank you and alert you when key findings are released. All research findings published on our website will be anonymous and will not contain information that could identify potential applicants. </p>

    <p><b>9. What are the arrangements for compensation?</b></p>

    <p>This research project has been approved by an independent NHS Research Ethics Committee who believes that it is of minimal risk to you and your child. However, research can carry unforeseen risks. Therefore, this research is covered by a no-fault compensation scheme which may apply in the event of any significant harm resulting to your child from involvement in the project. Under this scheme it would not be necessary for you to prove fault. You also have the right to claim damages in a court of law. This would require you to prove fault on the part of the Hospital/Institute and/or any manufacturer involved.</p>

    <p><b>10. Will my taking part in the study be kept confidential? </b></p>

    <p>Yes. We will follow ethical and legal practice and all information about you will be handled in confidence. Data collected for this project will be securely stored at the Institute of Child Health, University College London. You will be allocated a study number, which will be used as a code to identify you on all study forms. Any information about you which leaves the hospital will have your name and address removed so that your child cannot be recognized from it. All information which is collected about you or your child during the course of this study will be kept strictly confidential. </p>

    <p><b>11. Will my GP be informed of my involvement? </b></p>

    <p>As this study does not involve any treatments or interventions, your GP does not need to be notified. </p>

    <p><b>12. What will happen to the results of the research study? </b></p>

    <p>The results of the study will be available after it finishes and will usually be published in a medical journal or be presented at a scientific conference. The data will be anonymous and none of the patients involved in the trial will be identified in any report or publication. </p>

    <p>Should you wish to see the results, or the publication, they will be made available on the study website <a href="http://www.ucl.ac.uk/tardis">www.ucl.ac.uk/tardis</a>. </p>

    <p><b>13. Who is organizing and funding the research? </b></p>

    <p>This pilot study has been sponsored through the UCL Grand Challenges fund. The researcher is a PhD student and will receive academic credit for completing this study. </p>

    <p><b>14. Who has reviewed the study? </b></p>

    <p>All research in the NHS is looked at by independent group of people, called a Research Ethics Committee, to protect your interests. This study has been reviewed and given favourable opinion by the Greater Manchester East Research Ethics Committee. </p>

    <p><b>15. Further information and contact details </b></p>

    <p>You are encouraged to ask any questions you wish, before, during or after your treatment. If you have any questions about the study, please speak to the researcher. </p>

    <p>If you wish to read the research on which this study is based, you will find a lot of information on our project website <a href="http://www.ucl.ac.uk/tardis">www.ucl.ac.uk/tardis</a>. </p>

    <p>Contact details for the researcher/ Chief Investigator</p>

</div>

    <table cellpadding="0" cellspacing="0">
        <colgroup>
            <col span="1" style="background-color:#add8e6" width="50%">
        </colgroup>
        <tbody>
        <tr>
            <td valign="top" ><p>Name</p></td>
            <td valign="top" ><p>Miss E W Macharia</p></td>
        </tr>

        <tr>
            <td valign="top" ><p>Telephone number</p></td>
            <td valign="top" ><p>0207 905 2254</p></td>
        </tr>

        <tr>
            <td valign="top" ><p>Email address</p></td>
            <td valign="top" ><p>e.macharia@ucl.ac.uk</p></td>
        </tr>

        <tr>
            <td valign="top" ><p>Address</p></td>
            <td valign="top" ><p>Institute of Child Health</p>

                <p>30 Guilford Street</p>

                <p>London WC1N 1EH</p>

            </td>
        </tr>

        </tbody>
    </table>

    <p><b>16. What if there is a problem? </b></p>

    <p>Any complaint about the way you have been dealt with during the pilot study or any possible harm you might suffer will be addressed. If you have a concern about any aspect of this study, you should ask to speak to the researchers who will do their best to answer your questions. </p>

    <p>If you remain unhappy and wish to complain formally, you can do this by approaching the hospital’s Patients Advice and Liaison Service (PALS). </p>

    <p>Email: <a href="mailto:complaints@gosh.nhs.uk">complaints@gosh.nhs.uk</a> </p>

    <p>Telephone: 020 7813 8402 / 8501.</p>

    <p><b>17. What happens next?</b></p>

    <p>You can have more time to think this over if you are at all unsure.</p>

    <p>If you decide you would like to take part then please read and sign the consent form. You will be given a copy of this information sheet and the consent form to keep. A copy of the consent form will be filed in your child’s notes, one will be filed with the study records and one may be sent to the Research Sponsor.</p>

    <p><b>Thank you for taking the time to read this information sheet and to consider this study.</b></p>
</body>
</html>